In [1]:
import pandas as pd

In [2]:
def get_anotated_file(bencana):
    #d_anotated = f'D:\\data-gusman\\tmp\\anotated_data\\{bencana}\\v02-new\\'
    d_anotated = f'C:\\Users\\dharmapu\\Documents\\personal\\ui\\KA-AMSD_src\\paper-submission\\anotated_data\\{bencana}\\v02-new\\'
    f_path = d_anotated + f'sample_{bencana}_anotasi_v02_new.xlsx'
    return f_path

In [3]:
def get_data_file(bencana):
    #d_anotated = f'D:\\data-gusman\\tmp\\anotated_data\\{bencana}\\v02-new\\'
    d_anotated = f'C:\\Users\\dharmapu\\Documents\\personal\\ui\\KA-AMSD_src\\paper-submission\\anotated_data\\{bencana}\\v02-new\\'
    f_data = d_anotated + f'sample_{bencana}_data.json'
    return f_data

In [4]:
import re

def get_adm_information(id, df_anotated):
    df_data = df_anotated[ df_anotated['id'] == id ].copy()
    l_adm1 = [ d for d in df_data['Lokasi ADM1'].values ]
    l_adm2 = [ d for d in df_data['Lokasi ADM2'].values ]
    l_adm3 = [ d for d in df_data['Lokasi ADM3'].values ]
    
    l_adm1 = [ e.strip().lower() for e in l_adm1 if str(e).lower().strip() != 'nan'.lower() and str(e).lower().strip() != 'NULL'.lower()]
    l_adm2 = [ e.strip().lower() for e in l_adm2 if str(e).lower().strip() != 'nan'.lower() and str(e).lower().strip() != 'NULL'.lower()]
    l_adm3 = [ e.strip().lower() for e in l_adm3 if str(e).lower().strip() != 'nan'.lower() and str(e).lower().strip() != 'NULL'.lower()]

    l_adm2 = [ e.replace('kabupaten', '').strip() for e in l_adm2 ]
    l_adm2 = [ e.replace('kota', '').strip() for e in l_adm2 ]

    return ','.join(set(l_adm1)), ','.join(set(l_adm2)), ','.join(set(l_adm3))

In [5]:
l_bencana = ['angin_topan', 'banjir', 'erupsi', 'gempa', 'karhutla', 'kekeringan', 'longsor', 'tsunami']

In [6]:
df_angin_topan = pd.read_excel(get_anotated_file('angin_topan'))
df_banjir = pd.read_excel(get_anotated_file('banjir'))
df_erupsi = pd.read_excel(get_anotated_file('erupsi'))
df_gempa = pd.read_excel(get_anotated_file('gempa'))
df_karthula = pd.read_excel(get_anotated_file('karhutla'))
df_kekeringan = pd.read_excel(get_anotated_file('kekeringan'))
df_longsor = pd.read_excel(get_anotated_file('longsor'))
df_tsunami = pd.read_excel(get_anotated_file('tsunami'))

dict_anotated = { 
    'angin_topan' : df_angin_topan,
    'banjir' : df_banjir,
    'erupsi' : df_erupsi,
    'gempa' : df_gempa,
    'karhutla' : df_karthula,
    'kekeringan' : df_kekeringan,
    'longsor' : df_longsor,
    'tsunami' : df_tsunami,
    }

In [7]:
df_angin_topan_data = pd.read_json(get_data_file('angin_topan'))
df_banjir_data = pd.read_json(get_data_file('banjir'))
df_erupsi_data = pd.read_json(get_data_file('erupsi'))
df_gempa_data = pd.read_json(get_data_file('gempa'))
df_karhutla_data = pd.read_json(get_data_file('karhutla'))
df_kekeringan_data = pd.read_json(get_data_file('kekeringan'))
df_longsor_data = pd.read_json(get_data_file('longsor'))
df_tsunami_data = pd.read_json(get_data_file('tsunami'))

dict_data = {
    'angin_topan' : df_angin_topan_data,
    'banjir' : df_banjir_data,
    'erupsi' : df_erupsi_data,
    'gempa' : df_gempa_data,
    'karhutla' : df_karhutla_data,
    'kekeringan' : df_kekeringan_data,
    'longsor' : df_longsor_data,
    'tsunami' : df_tsunami_data,
}

In [8]:
df_final = pd.DataFrame()

for bencana in l_bencana:
    df_anotated = dict_anotated[bencana]
    df_positive = df_anotated[['id', 'Positif Bencana Alam']]
    df_positive = df_positive[df_positive['Positif Bencana Alam'] == 'O']
    df_positive = df_positive.drop_duplicates()
    df_positive = df_positive.reset_index(drop=True)

    df_final = df_final.append(df_positive, ignore_index=True)

df_final

                    id Positif Bencana Alam
0     angin_topan_0001                    O
1     angin_topan_0002                    O
2     angin_topan_0003                    O
3     angin_topan_0005                    O
4     angin_topan_0006                    O
...                ...                  ...
2207      tsunami_1153                    O
2208      tsunami_1154                    O
2209      tsunami_1158                    O
2210      tsunami_1160                    O
2211      tsunami_1163                    O

[2212 rows x 2 columns]

In [9]:
import re

for i, data in df_final.iterrows():
    id = data['id']
    bencana = re.sub('_[\d]*$', '', id)
    
    df_anotated = dict_anotated[bencana]
    adm1, adm2, adm3 = get_adm_information(id, df_anotated)
    df_final.loc[i, 'adm1'] = adm1
    df_final.loc[i, 'adm2'] = adm2
    df_final.loc[i, 'adm3'] = adm3

df_final

,id,Positif Bencana Alam,adm1,adm2,adm3
0,angin_topan_0001,O,aceh,bener meriah,wih pesam
1,angin_topan_0002,O,aceh,simeulue,simeulue timur
2,angin_topan_0003,O,aceh,sabang,sukakarya sabang
3,angin_topan_0005,O,aceh,simeulue,simeulue timur
4,angin_topan_0006,O,aceh,aceh barat,sungai mas
...,...,...,...,...,...
2207,tsunami_1153,O,sulawesi tengah,palu,
2208,tsunami_1154,O,sulawesi tengah,"donggala,palu",
2209,tsunami_1158,O,sulawesi tengah,"donggala,palu",
2210,tsunami_1160,O,banten,,
2211,tsunami_1163,O,sulawesi tengah,palu,

In [10]:
f_out = 'C:\\Users\\dharmapu\\Documents\\personal\\ui\\KA-AMSD_src\\paper-submission\\anotated_data\\location\\location_data.xlsx'
df_final.to_excel(f_out, index=False)