In [1]:
import pandas as pd
from ner_measurement import NerMeasurement as NM

In [2]:
f_ref = '/home/admin/text_processing/anotated_data/gold_standard/date_loc/date_loc_gold_standard_v02.xlsx'
f_pred = '/home/admin/text_processing/anotated_data/gold_standard/date_loc/date_loc_gold_standard_v02_ner_w_tokens_normal_3.xlsx'

df_ref = pd.read_excel(f_ref)
df_pred = pd.read_excel(f_pred)

In [3]:
df_out = df_ref[['id','adm1', 'adm2', 'adm3']].copy()
df_out[['pred_adm1', 'pred_adm2', 'pred_adm3']] = df_pred[['adm1', 'adm2', 'adm3']].copy()
df_out.fillna('', inplace=True)

df_out['jc_adm1'] = ''
df_out['p_adm1'] = ''
df_out['r_adm1'] = ''
df_out['f1_adm1'] = ''

In [4]:
def measure(str_true, str_pred):
    l_true = [ e.strip() for e in str_true.split(',') ]
    l_pred = [ e.strip() for e in str_pred.split(',') ]
    nm = NM(l_true, l_pred)
    jc_sm = nm.jaccard_simmilarity()
    p = nm.precision()
    r = nm.recall()
    f1 = nm.f1_score()
    
    return jc_sm, p, r, f1

In [5]:
for index, row in df_out.iterrows():
    jc_adm, p_adm, r_adm, f1_adm = measure(row['adm1'], row['pred_adm1'])
    df_out.loc[index, 'jc_adm1'] = jc_adm
    df_out.loc[index, 'p_adm1'] = p_adm
    df_out.loc[index, 'r_adm1'] = r_adm
    df_out.loc[index, 'f1_adm1'] = f1_adm
    
    jc_adm, p_adm, r_adm, f1_adm = measure(row['adm2'], row['pred_adm2'])
    df_out.loc[index, 'jc_adm2'] = jc_adm
    df_out.loc[index, 'p_adm2'] = p_adm
    df_out.loc[index, 'r_adm2'] = r_adm
    df_out.loc[index, 'f1_adm2'] = f1_adm
    
    jc_adm, p_adm, r_adm, f1_adm = measure(row['adm3'], row['pred_adm3'])
    df_out.loc[index, 'jc_adm3'] = jc_adm
    df_out.loc[index, 'p_adm3'] = p_adm
    df_out.loc[index, 'r_adm3'] = r_adm
    df_out.loc[index, 'f1_adm3'] = f1_adm

In [6]:
df_out

,id,adm1,adm2,adm3,pred_adm1,pred_adm2,pred_adm3,jc_adm1,p_adm1,r_adm1,f1_adm1,jc_adm2,p_adm2,r_adm2,f1_adm2,jc_adm3,p_adm3,r_adm3,f1_adm3
0,angin_topan_0032,aceh,aceh barat,,aceh,"aceh barat, banda aceh",,1,1,1,1,0.5,0.5,1.00,0.666667,1.000000,1.00,1.000000,1.000000
1,angin_topan_0958,,,,,,,1,1,1,1,1.0,1.0,1.00,1.000000,1.000000,1.00,1.000000,1.000000
2,angin_topan_1139,sumatera selatan,musi rawas utara,nibung,"jawa barat, aceh","cirebon, bireuen","sumber, makmur",0,0,0,0,0.0,0.0,0.00,0.000000,0.000000,0.00,0.000000,0.000000
3,angin_topan_1154,sumatera selatan,banyuasin,muara telang,sumatera selatan,banyuasin,,1,1,1,1,1.0,1.0,1.00,1.000000,0.000000,0.00,0.000000,0.000000
4,angin_topan_0718,jawa timur,batu,"bumiaji, batu",jawa timur,batu,"bumiaji, batu",1,1,1,1,1.0,1.0,1.00,1.000000,1.000000,1.00,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,tsunami_0165,"banten, lampung",,,banten,,,0.5,1,0.5,0.666667,1.0,1.0,1.00,1.000000,1.000000,1.00,1.000000,1.000000
396,tsunami_0104,banteng,,,banten,,,0,0,0,0,1.0,1.0,1.00,1.000000,1.000000,1.00,1.000000,1.000000
397,tsunami_0494,,,,bali,,,0,0,0,0,1.0,1.0,1.00,1.000000,1.000000,1.00,1.000000,1.000000
398,tsunami_0609,"banten, lampung selatan","serang, cilegon, tanggamus, bandar lampung","cinangka, ciwandan, kota agung,","banten, lampung","bandar lampung, pandeglang",pandeglang,0.333333,0.5,0.5,0.5,0.2,0.5,0.25,0.333333,0.000000,0.00,0.000000,0.000000
399,tsunami_0109,"banten, lampung selatan","serang, cilegon, tanggamus, bandar lampung","cinangka, ciwandan, kota agung","banten, lampung","pandeglang, lampung selatan, cilegon, tanggamu...","pandeglang, ciwandan, cilegon, panjang",0.333333,0.5,0.5,0.5,0.5,0.6,0.75,0.666667,0.166667,0.25,0.333333,0.285714

In [9]:
from os.path import basename
filepath = '/text_processing/anotated_data/gold_standard/date_loc/eval_02/xxx.xlsx'
basename(filepath)

'xxx.xlsx'