In [9]:
import pandas as pd
from ner_measurement import NerMeasurement as NM

In [10]:
f_ref = 'C:\\Users\\dharmapu\\Documents\\personal\\ui\\KA-AMSD_src\\src\\text_processing\\tmp_dir\\loc\\location_data.xlsx'
f_pred = 'C:\\Users\\dharmapu\\Documents\\personal\\ui\\KA-AMSD_src\\src\\text_processing\\tmp_dir\\loc\\location_text_ner_st_keywords_result_1.xlsx'

df_ref = pd.read_excel(f_ref)
df_pred = pd.read_excel(f_pred)

In [11]:
df_out = df_ref[['id','adm1', 'adm2', 'adm3']].copy()
df_out[['pred_adm1', 'pred_adm2', 'pred_adm3']] = df_pred[['adm1', 'adm2', 'adm3']].copy()
df_out.fillna('', inplace=True)

df_out['jc_adm1'] = ''
df_out['p_adm1'] = ''
df_out['r_adm1'] = ''
df_out['f1_adm1'] = ''

In [12]:
def measure(str_true, str_pred):
    l_true = [ e.strip() for e in str_true.split(',') ]
    l_pred = [ e.strip() for e in str_pred.split(',') ]
    nm = NM(l_true, l_pred)
    jc_sm = nm.jaccard_simmilarity()
    p = nm.precision()
    r = nm.recall()
    f1 = nm.f1_score()
    
    return jc_sm, p, r, f1

In [13]:
for index, row in df_out.iterrows():
    jc_adm1, p_adm1, r_adm1, f1_adm1 = measure(row['adm1'], row['pred_adm1'])
    df_out.loc[index, 'jc_adm1'] = jc_adm1
    df_out.loc[index, 'p_adm1'] = p_adm1
    df_out.loc[index, 'r_adm1'] = r_adm1
    df_out.loc[index, 'f1_adm1'] = f1_adm1
    
    jc_adm2, p_adm2, r_adm2, f1_adm2 = measure(row['adm2'], row['pred_adm2'])
    df_out.loc[index, 'jc_adm2'] = jc_adm2
    df_out.loc[index, 'p_adm2'] = p_adm2
    df_out.loc[index, 'r_adm2'] = r_adm2
    df_out.loc[index, 'f1_adm2'] = f1_adm2
    
    jc_adm3, p_adm3, r_adm3, f1_adm3 = measure(row['adm3'], row['pred_adm3'])
    df_out.loc[index, 'jc_adm3'] = jc_adm3
    df_out.loc[index, 'p_adm3'] = p_adm3
    df_out.loc[index, 'r_adm3'] = r_adm3
    df_out.loc[index, 'f1_adm3'] = f1_adm3

    df_out.loc[index, 'jc_avg'] = (jc_adm3 + jc_adm2 + jc_adm1) / 3
    df_out.loc[index, 'p_avg']  = (p_adm3 + p_adm2 + p_adm1) / 3
    df_out.loc[index, 'r_avg']  = (r_adm3 + r_adm1 + r_adm1) / 3
    df_out.loc[index, 'f1_avg'] = (f1_adm3 + f1_adm2 + f1_adm1) / 3

In [14]:
df_out

,id,adm1,adm2,adm3,pred_adm1,pred_adm2,pred_adm3,jc_adm1,p_adm1,r_adm1,...,r_adm2,f1_adm2,jc_adm3,p_adm3,r_adm3,f1_adm3,jc_avg,p_avg,r_avg,f1_avg
0,angin_topan_0001,aceh,bener meriah,wih pesam,,,,0,0,0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000
1,angin_topan_0002,aceh,simeulue,simeulue timur,aceh,simeulue,simeulue timur,1,1,1,...,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.000000,1.0,1.000000
2,angin_topan_0003,aceh,sabang,sukakarya sabang,,,,0,0,0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000
3,angin_topan_0005,aceh,simeulue,simeulue timur,aceh,simeulue,simeulue timur,1,1,1,...,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.000000,1.0,1.000000
4,angin_topan_0006,aceh,aceh barat,sungai mas,aceh,aceh barat,sungai mas,1,1,1,...,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.000000,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207,tsunami_1153,sulawesi tengah,palu,,sulawesi tengah,palu,,1,1,1,...,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.000000,1.0,1.000000
2208,tsunami_1154,sulawesi tengah,"donggala,palu",,sulawesi tengah,donggala,,1,1,1,...,0.5,0.666667,1.0,1.0,1.0,1.0,0.833333,1.000000,1.0,0.888889
2209,tsunami_1158,sulawesi tengah,"donggala,palu",,"jawa timur, sulawesi tengah",,,0.5,0.5,1,...,0.0,0.000000,1.0,1.0,1.0,1.0,0.500000,0.500000,1.0,0.555556
2210,tsunami_1160,banten,,,banten,,,1,1,1,...,1.0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.000000,1.0,1.000000
2211,tsunami_1163,sulawesi tengah,palu,,sulawesi tengah,,,1,1,1,...,0.0,0.000000,1.0,1.0,1.0,1.0,0.666667,0.666667,1.0,0.666667

In [15]:
columns = ['jc_adm1', 'p_adm1', 'r_adm1', 'f1_adm1', 'jc_adm2','p_adm2', 'r_adm2', 'f1_adm2','jc_adm3', 'p_adm3', 'r_adm3', 'f1_adm3', 'jc_avg', 'p_avg', 'r_avg', 'f1_avg', ] 
means_list = [ "{:.6f}".format(df_out[c].mean()) for c in columns ]
means_list

lst = ['MEAN', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A']
lst = lst + means_list
print(lst)
df_tmp = df_out.copy()
df_tmp.loc[len(df_tmp)] = lst
df_tmp

['MEAN', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '0.684877', '0.710518', '0.723824', '0.705360', '0.558558', '0.611834', '0.595694', '0.587091', '0.460908', '0.484558', '0.501504', '0.481007', '0.568115', '0.602304', '0.649717', '0.591153']

,id,adm1,adm2,adm3,pred_adm1,pred_adm2,pred_adm3,jc_adm1,p_adm1,r_adm1,...,r_adm2,f1_adm2,jc_adm3,p_adm3,r_adm3,f1_adm3,jc_avg,p_avg,r_avg,f1_avg
0,angin_topan_0001,aceh,bener meriah,wih pesam,,,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,angin_topan_0002,aceh,simeulue,simeulue timur,aceh,simeulue,simeulue timur,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,angin_topan_0003,aceh,sabang,sukakarya sabang,,,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,angin_topan_0005,aceh,simeulue,simeulue timur,aceh,simeulue,simeulue timur,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,angin_topan_0006,aceh,aceh barat,sungai mas,aceh,aceh barat,sungai mas,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2208,tsunami_1154,sulawesi tengah,"donggala,palu",,sulawesi tengah,donggala,,1,1,1,...,0.5,0.666667,1,1,1,1,0.833333,1,1,0.888889
2209,tsunami_1158,sulawesi tengah,"donggala,palu",,"jawa timur, sulawesi tengah",,,0.5,0.5,1,...,0,0,1,1,1,1,0.5,0.5,1,0.555556
2210,tsunami_1160,banten,,,banten,,,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2211,tsunami_1163,sulawesi tengah,palu,,sulawesi tengah,,,1,1,1,...,0,0,1,1,1,1,0.666667,0.666667,1,0.666667
2212,MEAN,N/A,N/A,N/A,N/A,N/A,N/A,0.684877,0.710518,0.723824,...,0.595694,0.587091,0.460908,0.484558,0.501504,0.481007,0.568115,0.602304,0.649717,0.591153

In [16]:
from os.path import basename
f_out = f_pred.replace(".xlsx", "_eval.xlsx")
print(f_out)
df_out = df_tmp
df_out.to_excel(f_out, index=False)

C:\Users\dharmapu\Documents\personal\ui\KA-AMSD_src\src\text_processing\tmp_dir\loc\location_text_ner_st_keywords_result_2_eval.xlsx