In [65]:
import sys
import json
import preprocess as pre
from proc_anotated_excel import AnotatedConverter

In [66]:
f_excel = "C:\\Users\\dharmapu\\Documents\\personal\\ui\\KA-AMSD_src\\paper-submission\\anotated_data\\angin_topan\\v02-new\\sample_angin_topan_V02_new.xlsx"
f_json = f_excel.replace('.xlsx', '_preproc.json')

df = pd.read_excel(f_text)
#df.to_json(f_json, indent = True, orient = 'records')

df_tmp = df[:3].copy()

In [67]:
# Clean up the title and text
for i, row in df_tmp.iterrows():
    title = df_tmp.loc[i, 'title']
    text = df_tmp.loc[i, 'text']
    date = df_tmp.loc[i, 'date']

    #clean up title
    title = title.encode('ascii', 'backslashreplace')
    title = title.decode('utf8')
    title = pre.clean_text(title)
    df_tmp.loc[i, 'title'] = title

    #clean up text
    text = text.encode('ascii', 'backslashreplace')
    text = text.decode('utf8')
    text = pre.clean_text(text)
    df_tmp.loc[i, 'text'] = text

    #clean up date
    date = date.encode('ascii', 'backslashreplace')
    date = date.decode('utf8')
    date = pre.clean_text(text)
    df_tmp.loc[i, 'date'] = date

In [68]:
# pre processed lowering
df_tmp['t_lower'] = ''
df_tmp['c_lower'] = ''
df_tmp['tc_lower'] = ''

for i, r in df_tmp.iterrows():
    df_tmp.loc[i, 't_lower'] = df_tmp.loc[i, 'title'].lower()
    df_tmp.loc[i, 'c_lower'] = df_tmp.loc[i, 'text'].lower()
    df_tmp.loc[i, 'tc_lower'] = df_tmp.loc[i, 't_lower'] + " " + df_tmp.loc[i, 'c_lower']

In [69]:
df_tmp[['t_lower', 'c_lower', 'tc_lower']]

,t_lower,c_lower,tc_lower
0,puting beliung rusak sembilan rumah,puting beliaung kembali terjadi di bener meria...,puting beliung rusak sembilan rumah puting bel...
1,pencarian nelayan simeulue dihentikan,"setelah sepekan operasi, pencarian dua nelayan...",pencarian nelayan simeulue dihentikan setelah ...
2,pohon tumbang timpa warga korban meninggal dal...,seorang pengendara motor dilaporkan mengalami ...,pohon tumbang timpa warga korban meninggal dal...

In [70]:
# pre processed stop words removal
df_tmp['t_swrem'] = ''
df_tmp['c_swrem'] = ''
df_tmp['tc_swrem'] = ''

for i, r in df_tmp.iterrows():
    df_tmp.loc[i, 't_swrem'] = pre.rem_stop_words(df_tmp.loc[i, 't_lower'])
    df_tmp.loc[i, 'c_swrem'] = pre.rem_stop_words(df_tmp.loc[i, 'c_lower'])
    df_tmp.loc[i, 'tc_swrem'] = df_tmp.loc[i, 't_swrem'] + " " + df_tmp.loc[i, 'c_swrem']

In [71]:
df_tmp[['t_swrem', 'c_swrem', 'tc_swrem']]

,t_swrem,c_swrem,tc_swrem
0,puting beliung rusak sembilan rumah,"puting beliaung terjadi bener meriah, akibatny...",puting beliung rusak sembilan rumah puting bel...
1,pencarian nelayan simeulue dihentikan,"sepekan operasi, pencarian nelayan simeulue ak...",pencarian nelayan simeulue dihentikan sepekan ...
2,pohon tumbang timpa warga korban meninggal kap...,seorang pengendara motor dilaporkan mengalami ...,pohon tumbang timpa warga korban meninggal kap...

In [72]:
# pre processed stemming
df_tmp['t_stem'] = ''
df_tmp['c_stem'] = ''
df_tmp['tc_stem'] = ''

for i, r in df_tmp.iterrows():
    df_tmp.loc[i, 't_stem'] = pre.stem_text(df_tmp.loc[i, 't_lower'])
    df_tmp.loc[i, 'c_stem'] = pre.stem_text(df_tmp.loc[i, 'c_lower'])
    df_tmp.loc[i, 'tc_stem'] = df_tmp.loc[i, 't_stem'] + " " + df_tmp.loc[i, 'c_stem']

In [73]:
df_tmp[['t_stem', 'c_stem', 'tc_stem']]

,t_stem,c_stem,tc_stem
0,puting beliung rusak sembilan rumah,puting beliaung kembali jadi di bener riah aki...,puting beliung rusak sembilan rumah puting bel...
1,cari nelayan simeulue henti,telah pek operasi cari dua nelayan simeulue ak...,cari nelayan simeulue henti telah pek operasi ...
2,pohon tumbang timpa warga korban tinggal dalam...,orang kendara motor lapor alami luka berat hin...,pohon tumbang timpa warga korban tinggal dalam...

In [74]:
# pre processed swrem stemming
df_tmp['t_swrem_stem'] = ''
df_tmp['c_swrem_stem'] = ''
df_tmp['tc_swrem_stem'] = ''

for i, r in df_tmp.iterrows():
    df_tmp.loc[i, 't_swrem_stem'] = pre.stem_text(df_tmp.loc[i, 't_swrem'])
    df_tmp.loc[i, 'c_swrem_stem'] = pre.stem_text(df_tmp.loc[i, 'c_swrem'])
    df_tmp.loc[i, 'tc_swrem_stem'] = df_tmp.loc[i, 't_swrem_stem'] + " " + df_tmp.loc[i, 'c_swrem_stem']

In [75]:
df_tmp[['t_swrem_stem', 'c_swrem_stem', 'tc_swrem_stem']]

,t_swrem_stem,c_swrem_stem,tc_swrem_stem
0,puting beliung rusak sembilan rumah,puting beliaung jadi bener riah akibat sembila...,puting beliung rusak sembilan rumah
1,cari nelayan simeulue henti,pek operasi cari nelayan simeulue akhir henti ...,cari nelayan simeulue henti
2,pohon tumbang timpa warga korban tinggal kapal...,orang kendara motor lapor alami luka berat hin...,pohon tumbang timpa warga korban tinggal kapal...

In [77]:
df_tmp.to_json(f_json, indent = True, orient = 'records')